<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div>Hello, User</div>
<a href="/main">Main</a>
<form action="/citilink" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="Ситилинк"/></div>
</form>
<form action="/dns" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div><input type="submit" value="DNS"/></div>
</form>
</body>
</html>
