<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div>Hello, User</div>
<a href="/main">Main</a>
<p>
<form action="/citilink_pc" method="post">
    <div><input type="submit" value="Ситилинк ПК"/></div>
</form>
<form action="/dns_pc" method="post">
    <div><input type="submit" value="DNS ПК"/></div>
</form>
</p>
<p>
<form action="/citilink_monitor" method="post">
    <div><input type="submit" value="Ситилинк Мониторы"/></div>
</form>
<form action="/dns_monitor" method="post">
    <div><input type="submit" value="DNS Мониторы"/></div>
</form>
</p>
<p>
<form action="/citilink_printer" method="post">
    <div><input type="submit" value="Ситилинк Принтеры"/></div>
</form>
<form action="/dns_printer" method="post">
    <div><input type="submit" value="DNS Принтеры"/></div>
</form>
</p>
<p>
<form action="/citilink_all" method="post">
    <div><input type="submit" value="Ситилинк. Спарсить всё"/></div>
</form>
<form action="/dns_all" method="post">
    <div><input type="submit" value="DNS. Спарсить всё"/></div>
</form>
</p>
</body>
</html>
